body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #343a40;
}

.card {
    border-radius: 10px;
}

.card-header {
    background-color: #28a745;
    color: white;
}

table th, table td {
    text-align: center;
}

button {
    border-radius: 5px;
}
.card-img-top {
    height: 200px;      /* Adjust as needed */
    width: 100%;
    object-fit: cover;  /* Ensures the image covers the element without distortion */
}

.add_new{
    bottom: 20px;
    right: 20px;
    position: fixed;
}